In [1]:
# Import dependencies
import pandas as pd

In [3]:
# Read csv into dataframe
aqi = pd.read_csv('../Data/Pollution_day_2001-2016.csv')
aqi.head(5)

,Date Local,State,County,NO2 AQI,O3 AQI,SO2 AQI,CO AQI
0,2000-01-01,Arizona,Maricopa,73.500000,33.500000,8.000000,20.0
1,2000-01-01,Arizona,Pima,36.000000,33.000000,6.000000,8.0
2,2000-01-01,California,Contra Costa,21.750000,21.000000,4.000000,10.5
3,2000-01-01,California,Imperial,23.000000,35.000000,4.000000,9.0
4,2000-01-01,California,Los Angeles,41.333333,22.333333,2.666667,34.0

In [11]:
aqi.dtypes

Date Local     object
State          object
County         object
NO2 AQI       float64
O3 AQI        float64
SO2 AQI       float64
CO AQI        float64
dtype: object

In [38]:
# Filter data by California
aqi_cal = aqi.loc[aqi['State'] == 'California']
aqi_cal

,Date Local,State,County,NO2 AQI,O3 AQI,SO2 AQI,CO AQI
2,2000-01-01,California,Contra Costa,21.750000,21.000000,4.000000,10.500000
3,2000-01-01,California,Imperial,23.000000,35.000000,4.000000,9.000000
4,2000-01-01,California,Los Angeles,41.333333,22.333333,2.666667,34.000000
5,2000-01-01,California,Orange,31.000000,25.000000,6.000000,20.000000
6,2000-01-01,California,Riverside,17.000000,22.000000,9.000000,8.000000
...,...,...,...,...,...,...,...
326561,2016-04-29,California,Solano,8.000000,35.000000,0.000000,3.000000
326579,2016-04-30,California,Alameda,23.000000,36.000000,1.000000,6.000000
326580,2016-04-30,California,Contra Costa,6.000000,37.666667,0.666667,3.666667
326581,2016-04-30,California,Santa Clara,23.000000,40.000000,0.000000,3.000000
326582,2016-04-30,California,Solano,12.000000,38.000000,0.000000,3.000000

In [41]:
# Print county names
aqi_cal['County'].unique().tolist()

['Contra Costa',
 'Imperial',
 'Los Angeles',
 'Orange',
 'Riverside',
 'Sacramento',
 'San Diego',
 'San Francisco',
 'Santa Barbara',
 'Santa Cruz',
 'Solano',
 'Ventura',
 'San Bernardino',
 'Kern',
 'Alameda',
 'Fresno',
 'Humboldt',
 'Santa Clara']

In [39]:
# Select only years 2013 to 2016
aqi_cal_2009 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2009'))]
aqi_cal_2012 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2012'))]
aqi_cal_2013 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2013'))]
aqi_cal_2014 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2014'))]
aqi_cal_2015 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2015'))]
aqi_cal_2016 = aqi_cal.loc[(aqi_cal['Date Local'].str.contains('2016'))]

In [44]:
# Merge data into one dataframe
#start with merging two data, then continue adding
aqi_data = aqi_cal_2013.merge(aqi_cal_2014, how='outer')
aqi_data = aqi_data.merge(aqi_cal_2012, how='outer')
aqi_data = aqi_data.merge(aqi_cal_2009, how='outer')
aqi_data = aqi_data.merge(aqi_cal_2015, how='outer')
aqi_data = aqi_data.merge(aqi_cal_2016, how='outer')

In [45]:
aqi_data

,Date Local,State,County,NO2 AQI,O3 AQI,SO2 AQI,CO AQI
0,2013-01-01,California,Alameda,28.0,27.000000,0.000000,8.000000
1,2013-01-01,California,Contra Costa,22.0,28.000000,0.333333,6.333333
2,2013-01-01,California,Fresno,24.0,23.000000,0.000000,14.000000
3,2013-01-01,California,Humboldt,6.0,22.000000,0.000000,6.000000
4,2013-01-01,California,Imperial,38.0,31.000000,3.000000,54.000000
...,...,...,...,...,...,...,...
25796,2016-04-29,California,Solano,8.0,35.000000,0.000000,3.000000
25797,2016-04-30,California,Alameda,23.0,36.000000,1.000000,6.000000
25798,2016-04-30,California,Contra Costa,6.0,37.666667,0.666667,3.666667
25799,2016-04-30,California,Santa Clara,23.0,40.000000,0.000000,3.000000
25800,2016-04-30,California,Solano,12.0,38.000000,0.000000,3.000000

In [47]:
# Save dataframe to csv file
aqi_data.to_csv('../Data/aqi_data.csv', index=False)